$white: hsl(0, 100%, 100%);
$black: hsl(0, 0%, 0%);
$grey-500: hsl(219, 13%, 44%);
$grey-50: hsl(220, 38%, 97%);
$blue-950: hsl(214, 24%, 23%);
$blue-900: hsl(216, 25%, 25%);
$blue-850: hsl(215, 27%, 32%);
$blue-500: hsl(223, 100%, 59%);
$blue-300: hsl(216, 47%, 78%);
$blue-100: hsl(220, 50%, 95%);
$blue-50: hsl(225, 100%, 96%);
$green-500: hsl(151, 68%, 52%);
$green-100: hsl(151, 88%, 94%);
$purple-600: hsl(277, 91%, 56%);
$purple-100: hsl(278, 100%, 95%);
$orange-400: hsl(22, 100%, 60%);
$orange-50: hsl(27, 100%, 96%);
$red-500: hsl(0, 82%, 63%);