@use "./style-presets/colors" as c;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    width: 100%;
    height: 100%;
    overflow: auto;
}

body {
    background-image: url("./assets/images/pattern-background-mobile-light.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: c.$grey-50;
}